@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

body,html {
    background-color: rgba(7, 7, 7, 0.97); 
   ;
}


@font-face {
  font-family: 'Dharma Gothic';
  src: url('/fonts/DharmaGothic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
